/* main */
main {
    display: flex;
    flex-direction: column;

    margin-top: 1em;
    margin-left: 1em;

    @media (min-width: 750px) {
        flex-direction: row;
        margin: 0;
    }
}

/* menu */
.menu {
    display: flex;
    flex-direction: column;

    margin-bottom: 3em;

    @media (min-width: 750px) {
        position: fixed;
        top: 0;
        height: 100%;
        background-color: var(--background-secondary);
        padding: 1em;

        z-index: 150;
    }

    h2 {
        display: flex;
        flex-direction: row;

        align-items: center;

        @media (min-width: 750px) {
            margin-top: 1em;
            margin-bottom: 2.5em;
        }

        svg {
            margin-right: 0.5em;
        }
    }

    h3 {
        button {
            border: none;
            background-color: inherit;
        }
    }

    ul {
        margin-bottom: 1em;

        li {
            margin-bottom: 0.4em;
        }
    }

    .links {
        display: flex;
        flex-direction: column;

        @media (min-width: 750px) {
            margin-top: auto;
        }
    }
}

/* overzicht pagina */
.overzicht-heading {
    @media (min-width: 750px) {
        position: absolute;
        top: 2em;
        left: 15em;
    }

    h1 {
        margin-bottom: 0.2em;
    }

    h2 {
        margin-top: 0;
    }
}

.overzicht-main-content {
    @media (min-width: 750px) {
        display: flex;
        flex-direction: column;

        margin-top: 7em;
        margin-left: 15em;
    }

    @media (min-width: 1250px) {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content min-content;
        grid-gap: 1em;
    }

    article {
        display: grid;
        grid-template-columns: min-content 18.5em 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
        "image title progress"
        ". button progress"
        ;

        background-color: var(--background-secondary);
        height: 10.5em;
        min-width: 17em;
        max-width: 29.8em;
        border-radius: 15px;

        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;

        @media (max-width: 510px) {
            grid-template-columns: min-content min-content 1fr;
            grid-template-rows: min-content 1fr;

            height: 15em;
        }

        @media (max-width: 430px) {
            grid-template-columns: min-content 1fr;
            grid-template-rows: min-content min-content 1fr;
            grid-template-areas:
            "image title"
            ". button"
            ". progress"
            ;

            height: 20em;
        }

        img {
            grid-area: image;

            justify-self: center;
            align-self: center;

            margin-left: 0.5em;
            margin-right: 0.5em;


            border-radius: 50%;
            height: 2.5em;
            width: 2.5em;
        }

        h3 {
            grid-area: title;

            white-space: nowrap;
            margin-top: 0.9em;
            margin-bottom: 0.9em;
        }

        a {
            grid-area: title;

            /* link onder de h2 */
            align-self: end;
        }

        button {
            grid-area: button;

            /* center svg en tekst */
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top: 1em;
            margin-left: 0.5em;
            margin-right: 1em;


            svg {
                margin-right: 1em;
            }
        }

        meter {
            grid-area: progress;

            justify-self: center;
            align-self: center;
            margin-right: 1em;
        }
    }
}

/* details pagina: top content */
.details-top-content {
    h1 {
        margin-bottom: 0.2em;
    }

    h2 {
        margin-top: 0;

        margin-bottom: 1em;
    }

    /* kaart toegankelijkheid */
    .kaart-toegankelijkheid {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
        "title title"
        "progress niveau"
        ;

        background-color: var(--background-secondary);
        height: 13.8em;
        width: 17.8em;
        border-radius: 15px;

        margin-bottom: 1em;

        /* toegankelijkheid */
        h3 {
            grid-area: title;

            margin-top: 0.8em;
            margin-bottom: 1.3em;
            margin-left: 1.5em;
        }

        meter {
            grid-area: progress;

            margin-left: 1.5em;
        }

        p {
            grid-area: niveau;

            margin-left: 1em;

            span {
                display: flex;
                white-space: nowrap;
                margin-bottom: 0.4em;
            }
        }
    }

    /* kaart automatische scan */
    .kaart-automatische-scan {
        display: grid;
        grid-template-columns: min-content 1fr 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
        "title title title"
        "progress nfo aandacht"
        ;

        background-color: var(--background-secondary);
        height: 13.8em;
        width: 54.94em;
        border-radius: 15px;

        margin-bottom: 2em;

        /* automatische scan */
        h3 {
            grid-area: title;

            white-space: nowrap;
            margin-top: 0.8em;
            margin-left: 1em;
        }

        .time-stamp {
            grid-area: title;

            justify-self: end;
            text-align: end;
            margin-top: 0.8em;
            margin-right: 1em;
        }

        meter {
            grid-area: progress;

            margin-left: 1em;
            margin-top: 1em;
        }

        .nfo-tekst {
            grid-area: nfo;

            max-width: 18em;
            margin-top: 1em;
            margin-left: 2em;

            button {
                /* center svg en tekst */
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1em;

                svg {
                    margin-right: 1em;
                }
            }
        }

        /* aandacht vereist */
        h4 {
            grid-area: aandacht;

            font-weight: var(--font-weight-bold);
            white-space: nowrap;

            margin-top: 1em;
        }

        ul {
            grid-area: aandacht;

            align-self: end;
            margin-bottom: 2em;

            /* split ul in 3 kolommen */
            column-count: 3;

            li {
                white-space: nowrap;
            }
        }
    }
}

/* details pagina: zoek en filters */
.details-search-filters {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    grid-template-areas:
    "zoek filters"
    ;

    /* search bar */
    .search-bar {
        display: flex;
        flex-direction: column;
        gap: 0;

        svg {
            z-index: 100;

            position: relative;
            top: 1em;
            left: 1em;
        }

        input[type="text"] {
            position: relative;
            top: -0.5em;

            border: none;
            border-radius: 15px;

            height: 2.1em;
            width: 13.3em;
        }

        input::placeholder {
            padding-left: 3em;
        }
    }

    /* filter buttons */
    .filters-buttons {
        ul {
            display: flex;
            flex-direction: row;
            gap: 2em;
            margin-top: 0.8em;
            margin-left: 1em;

            li {
                button {
                    border: none;
                    border-radius: 5px;

                    height: 2em;
                    width: 9em;
                }
            }

            li:last-child {
                button {
                    height: 2.3em;
                    width: 12.6em;

                    svg {
                        fill: var(--text-light);
                    }
                }

                button:hover {
                    svg {
                        fill: var(--highlight);
                    }
                }
            }
        }
    }
}

/* details pagina: web pagina kaartjes */
.details-pagina-kaartjes-container {

    .pagina-kaartje {
        display: flex;
        flex-direction: column;

        background-color: var(--background-secondary);

        border-radius: 15px;
        width: 23.8em;

        margin-top: 1em;
        margin-bottom: 1em;

        .kaart-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            margin-top: 0.8em;
            margin-left: 1em;
            margin-right: 1em;
        }

        /* link */
        a {
            margin-left: 1.6em;
        }

        meter {
            align-self: center;
            width: 21.5em;
        }

        button {
            display: flex;
            /* positie van de button */
            align-self: center;
            /* content binnen de button */
            align-items: center;
            justify-content: center;

            margin-top: 1em;
            margin-left: 0.5em;

            width: 25em;

            svg {
                margin-right: 0.4em;
            }
        }

        .kaart-footer {
            display: flex;
            flex-direction: row;
            margin-top: auto;
            margin-bottom: 1em;

            .icon-text {
                margin-top: 1.2em;
                margin-left: 1em;
                margin-right: 1em;
                white-space: nowrap;
            }
        }
    }

    /* height van de kaartjes als het wel of niet een button heeft */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/:not */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/:has */
    .pagina-kaartje:not(:has(button)) {
        height: 8.7em;
    }

    .pagina-kaartje:has(button) {
        height: 11.8em;
    }

    /* add pagina kaart */
    .pagina-kaartje-add {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 1em;

        background-color: var(--background-secondary);

        border-radius: 15px;
        height: 6.2em;
        width: 23.8em;
    }
}









